{% extends "layouts/base_layout.html" %}

{% block content %}
<div class="admin-container">
    <div class="admin-content">
        <div class="admin-sidebar">
            {% include "components/sidebars/admin_sidebar.html" %}
        </div>
        
        <main class="admin-main">
            <div class="content-area">
                {% block admin_content %}{% endblock %}
            </div>
        </main>
    </div>
</div>
{% endblock %}

{% block extra_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', path='css/layouts/admin.css') }}">
{% endblock %} 