{% extends "layouts/error_layout.html" %}

{% block title %}503 Service Unavailable - HomeLab Discord Bot{% endblock %}

{# --- Specific Error Details --- #}

{% block error_code_class %}503{% endblock %}

{% block error_icon %}<i class="bi bi-exclamation-triangle"></i>{% endblock %}

{% block error_title %}Service Unavailable{% endblock %}

{% block error_code %}Error 503{% endblock %}

{% block error_message %}
    The service is temporarily unavailable. Please try again later.
{% endblock %}

{# error_details and error_action are inherited #}
