<footer class="footer mt-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="footer-text">HomeLab Discord Bot &copy; 2025</p>
            </div>
            <div class="col-md-6 text-end">
                <p>
                    <a href="https://github.com/fr4iser90/NCC-DiscordBot" class="footer-link">
                        <i class="bi bi-github"></i> GitHub
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
