<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Discord Bot Web Interface{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/themes/dark/theme.css') }}" id="theme-style">
    
    {% block head %}{% endblock %}
</head>
<body class="dark-theme">  <!-- Theme-Klasse hinzugefügt -->
    <div class="app-container">  <!-- Container für Layout -->
        {% if user %}  <!-- Überprüfen, ob der Benutzer eingeloggt ist -->
            {% include "components/navbar.html" %}
        {% endif %}
        
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
        
        {% include "components/footer.html" %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    <script src="/static/js/components/widget_ui.js"></script>
    <!-- Widget-Definitionen -->
    <script src="/static/js/components/widgets/status_widget.js"></script>
    <script src="/static/js/components/widgets/servers_widget.js"></script>
    <!-- Andere Widget-Typen -->
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', path='js/pages/navbar/server_selector.js') }}"></script>
</body>
</html>