
ENVIRONMENT=development # (development, production, testing)
DISCORD_TOKEN=XXXXXXXXXXXXXXX
DOMAIN=XXXXX.com
AES_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TYPE=Web,Game,File
AUTH_TOKEN=XXXXXXXXXXXXX
DISCORD_SERVER=
TRACKER_URL=http://localhost:8081
SUPER_ADMINS=NAME|ID
ADMINS=NAME|XXXXXXXXXXXXXXX
USERS=NAME|XXXXXXXXXXXXXXX,NAME|XXXXXXXXXXXXXXX,NAME|XXXXXXXXXXXXXXX
ENCRYPTION_KEY=XXXXXXXXXXXXXXX
JWT_SECRET_KEY=XXXXXXXXXXXXXXX
SESSION_DURATION_HOURS=24
RATE_LIMIT_WINDOW=60
RATE_LIMIT_MAX_ATTEMPTS=5
PUID=1001
PGID=987