{# app/web/templates/components/navigation/nav_links.html #}
{% set selected_guild = request.session.get('selected_guild') %}
{% set is_owner = request.session.user and request.session.user.get('is_owner') %}

<ul class="nav-links navbar-start"> {# Use navbar-start for left alignment #}
    <li class="navbar-item"> {# Use navbar-item for correct styling #}
        <a class="nav-link {% if request.url.path == '/home' %}active{% endif %}" href="/home">
            <i class="bi bi-house"></i>
            <span>Home</span>
        </a>
    </li>

    {# --- Guild Dropdown (Requires selected guild) --- #}
    {% if selected_guild and selected_guild.guild_id %}
        {% set guild_base_path = "/guild/" + selected_guild.guild_id %}
        <li class="navbar-item has-dropdown js-navbar-dropdown">
            <a class="navbar-link" href="#" role="button">
                <i class="bi bi-server mr-2"></i>
                <span>Guild</span>
                <i class="bi bi-caret-down-fill ml-auto dropdown-indicator"></i>
            </a>
            <div class="navbar-dropdown">
                <a class="dropdown-item {% if request.url.path.startswith(guild_base_path + '/admin/users') %}is-active{% endif %}"
                   href="{{ guild_base_path }}/admin/users">
                    <i class="bi bi-people mr-2"></i>
                    <span>Guild Users</span>
                </a>
                <a class="dropdown-item {% if request.url.path.startswith(guild_base_path + '/designer') %}is-active{% endif %}"
                   href="{{ guild_base_path }}/designer">
                    <i class="bi bi-layout-wtf mr-2"></i>
                    <span>Guild Designer</span>
                </a>
                {% if is_owner %}
                    <hr class="navbar-divider">
                    <a class="dropdown-item {% if request.url.path.startswith(guild_base_path + '/admin') and not request.url.path.endswith('/users') %}is-active{% endif %}"
                       href="{{ guild_base_path }}/admin/">
                        <i class="bi bi-shield-lock mr-2"></i>
                        <span>Guild Admin</span>
                    </a>
                {% endif %}
            </div>
        </li>
    {% endif %}
    {# --- End Guild Dropdown --- #}

    {# --- Owner Dropdown (Requires owner status) --- #}
    {% if is_owner %}
        <li class="navbar-item has-dropdown js-navbar-dropdown">
            <a class="navbar-link" href="#" role="button">
                <i class="bi bi-person-badge mr-2"></i>
                <span>Owner</span>
                <i class="bi bi-caret-down-fill ml-auto dropdown-indicator"></i>
            </a>
            <div class="navbar-dropdown">
                <a class="dropdown-item {% if request.url.path.startswith('/owner/bot') %}is-active{% endif %}" href="/owner/bot">
                    <i class="bi bi-robot mr-2"></i>
                    <span>Bot Control</span>
                </a>
                <a class="dropdown-item {% if request.url.path.startswith('/owner/servers') %}is-active{% endif %}" href="/owner/servers">
                    <i class="bi bi-hdd-stack mr-2"></i>
                    <span>Server Management</span>
                </a>
                {# Add other global owner links here, e.g., user management #}
                {# Example:
                <a class="dropdown-item {% if request.url.path.startswith('/owner/users') %}is-active{% endif %}" href="/owner/users">
                    <i class="bi bi-person-gear mr-2"></i>
                    <span>Manage Users</span>
                </a>
                #}
            </div>
        </li>
    {% endif %}
    {# --- End Owner Dropdown --- #}

</ul> 