{# app/web/templates/components/navigation/server_selector.html #}
<div class="navbar-item has-dropdown">
    <button class="navbar-link server-selector" id="server-selector-button" aria-haspopup="true" aria-expanded="false">
        {% if request.session.get('selected_guild') %}
            <img src="{{ request.session.selected_guild.icon_url }}" alt="{{ request.session.selected_guild.name }}" class="server-icon">
            <span class="server-name">{{ request.session.selected_guild.name }}</span>
        {% else %}
            <img src="https://cdn.discordapp.com/embed/avatars/0.png" alt="Select Server" class="server-icon">
            <span class="server-name">Select Server</span>
        {% endif %}
    </button>
    
    <div class="navbar-dropdown" id="server-dropdown" aria-labelledby="server-selector-button">
        <div class="server-list loading">
            <!-- Server list will be populated by JavaScript (only approved servers) -->
        </div>
    </div>
</div> 